@import url('https://fonts.googleapis.com/css2?family=Burbank+Big+Condensed:wght@400&display=swap');

:root {
  --black_matte: #3E3C4B;
  --myWhite: white;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Burbank Big Condensed', sans-serif;
  color: var(--myWhite);
  scroll-behavior: smooth;
}

body {
  background-image: url('../assets/img/backgrounds-fn/aang\ iceberg\ \(cyan\ bg\).png');
}

#container {
  height: 100%;
  background-color: #2B4843;
}

#sectionOne {
  background-image: url('../assets/img/backgrounds-fn/aang\ iceberg\ \(cyan\ bg\).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  height: 100vh;
  padding: 2.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(8px);

  transition: all 0.5s ease-in-out 0ms;
}

/* 
ESTILIZAÇÃO DA CLASSE ROLAGEM (APENAS QUANDO O EIXO Y > 0)
*/

header.scrolling {
  background-color: #248d8486;
  backdrop-filter: blur(8px);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

}

#logo {
  height: 10%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 50%;

}

ul {

  display: flex;
  justify-content: space-around;

  font-size: 20pt;
  list-style: none;

  width: 100%;

}

ul>li {
  cursor: pointer;
  text-decoration: none;
  list-style: none;

}



li>a {
  text-decoration: none;

}

a {
  text-decoration: none;
  cursor: pointer;

}

#botaoPaginaInicial:hover,
#botaoSessaoFN:hover,
#botaoSessaoKaizen:hover,
#botaoSessaoDev:hover,
#botaoSessaoEstatisticas:hover {
  border: 3px solid var(--myWhite);
  border-color: var(--myWhite);
  box-shadow: 3px 3px 10px #fff;

}

.botoesHeader {
  text-decoration: none;
  list-style: none;

  padding-block: 0.5rem;
  padding-inline: 1.25rem;

  font-size: 20pt;

  background-color: transparent;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;

  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  outline: none;
  overflow: hidden;

  position: relative;
  transition: all 0.1s ease-in-out;

}

.botoesHeader:hover::before {
  animation: feixeLuz 1s ease-out forwards;
}

.botoesHeader::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%);

  top: 0;
  left: -100px;
  opacity: 0.6;
}

li>a>#paginaInicial {
  background-color: #D9D9D9;
}

#facaParte {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 10%;
  width: 25%;

  gap: 10px;

}

#facaParte #textoFacaParte {
  height: 50%;
  width: 25%;

  text-decoration: none;
  display: flex;
  align-items: center;
}

#facaParte #textoFacaParte>p:hover {
  background-color: #D9D9D9;
  color: #3E3C4B;
}

.button {
  position: relative;
  transition: all 0.3s ease-in-out;

  padding-block: 0.5rem;
  padding-inline: 1.25rem;

  background-color: var(--myWhite);
  color: var(--black_matte);

  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border: none;
  outline: none;

  overflow: hidden;
  font-size: 20.75px;


}

.button:hover {
  transform: scale(1.05);

}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.button:hover::before {
  animation: feixeLuz 1.5s ease-out infinite;

}

@keyframes feixeLuz {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* ======================================================== */
/*                          MAIN                            */
/* ======================================================== */

main {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

#tituloEventos {
  display: flex;
  align-items: center;
  font-size: 60pt;
  text-align: start;
  text-transform: uppercase;
  letter-spacing: 8px;
}


#eventos {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 9px;
}

#setas {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10%;

}

/* ======================================================== */
/*                      section Two                         */
/* ======================================================== */
#sectionTwo {
  /* height: 1840px; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 6em 6em 0 6em;
}


#tituloFortnite {
  padding-top: 20px;

  font-size: 60pt;

  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;

}

#explicacao {
  background-color: #D9D9D9;
  border-radius: 20px;
  padding: 40px;
  height: 70%;

  text-transform: uppercase;
  font-size: 41pt;

  display: flex;
  justify-content: center;
  align-items: center;

}

#explicacao p {
  color: #2B4843;

}

#sectionThree {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 50%;
  padding: 6em 6em 0 6em;

}

#historia {
  font-size: 60pt;

}

#video_historia {
  background-color: var(--myWhite);


  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#video_historia p {
  color: #111817;
  font-size: 20pt;

  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

#video_historia iframe {
  width: 65vw;
  height: 70vh;
}


#sectionFour {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6em 6em 0 6em;

}

#sectionFour h1 {
  font-size: 70pt;
}

#sectionFour a {
  width: 75vw;
  cursor: pointer;

}

#sectionFour button {
  background-color: transparent;

  color: var(--myWhite);
  font-size: 4em;
  /* letter-spacing: 20px; */

  padding-top: 10px;
  height: 25%;
  width: 75vw;
  text-align: center;

  border: 2px solid var(--myWhite);
  cursor: pointer;

  transition: all 0.3s ease-in-out 0ms;
}

#sectionFour button:hover {
  background-color: var(--myWhite);
  color: #2B4843;

}

#kaizenZone {
  display: flex;

  margin-top: 20px;
}

#icons {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  gap: 50px;
}

#icons a,
#icons img {
  width: 400px;
  height: auto;
  border-radius: 5px;
  transition: all 0.5s ease-in-out 0ms;
}

#icons img:hover {
  transform: scale(0.75);
  /* border: 10px solid var(--myWhite); */
  border-radius: 20%;
}

#descriptionKaizen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: var(--myWhite);

  font-size: 2.8em;
  margin-bottom: 40px;
  padding: 50px;
  border-radius: 20px;
  gap: 30px;
  text-transform: uppercase;
}

#descriptionKaizen p {
  color: #2B4843;

}

/* 
SECTION FIVE!!
SECTION FIVE!!
SECTION FIVE!!
SECTION FIVE!!
*/

#sectionFive {
  background-color: #2B4843;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;

  font-size: 2em;


}

#developer {
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
  font-size: 1.1em;

}

#info {
  height: 100%;
  width: 65%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  font-size: 1.1em;
  padding: 2.5em;

}

#info h1 {
  font-size: 1.5em;
  font-weight: 900;

}


#bio,
#questionTheme {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;


}

/* 
FOOTER!
FOOTER!
FOOTER!
*/

footer {
  background-color: #233A36;
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 25vh;
}

#left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
  font-size: 1.5em;

}

#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40vw;
  gap: 1.2em;

  list-style-type: none;

  font-size: 1.3em;

}

#sessoesFooter {
  display: flex;
  justify-content: space-between;

  width: 15vw;
}

#columnOne,
#columnTwo {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

#right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  width: 15vw;
}

#telefone, #email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 15pt;
  
}

#contact {
  display: flex;
  justify-content: flex-start;
  gap: 1.1em;

  width: 100%;
}


/* 
CONFIGURAÇÕES DA SCROLL BAR !
CONFIGURAÇÕES DA SCROLL BAR !
*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d897c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2B4843;
}