@import url('https://fonts.googleapis.com/css2?family=Burbank+Big+Condensed:wght@400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Burbank Big Condensed', sans-serif;
    color: white;
}

body {    
    height: 100vh;
    width: 99vw;

}

#sectionOne {
    background-image: url('../assets/img/backgrounds-fn/aang\ iceberg\ \(cyan\ bg\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    height: 100%;

}




/* section Two */
#sectionTwo {
    background-color: #2B4843;
    height: 100%;
    width: 100%;

    
}

